@use '../../../_lib' as lib;

.table {
    position: relative;
    border-collapse: collapse;
    width: 80vw;
    height: 5vw;
    margin-top: 2rem;
    left: 50%;
    transform: translateX(-50%);

    &__head {
        text-align: center;
        background-color: aqua;
        box-shadow: 0px 3px 3px 0px grey;
    }

    &__head>tr>th {
        padding: 1.3rem;
        font-size: 1.5rem;
        background-color: rgb(172, 255, 47);
    }

    &__body>tr {
        box-shadow: 0px 1px 2px 0px grey;

        &>td {
            text-align: center;
            padding: 1rem;
            font-size: 1.2rem;
        }
    }

    .table__body--warn {
        position: relative;
        width: 33vw;
        text-transform: uppercase;
        font-size: 1.4rem;
        color: red;
        transform: translateX(-50%);
        left: 50%;
    }

    @keyframes spinner {
        0% {
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
        }

        100% {
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
        }
    }

    .table__body--spinner {
        height: 10vw;

        &::before {
            animation: 1.5s linear infinite spinner;
            animation-play-state: inherit;
            border: solid 1rem #cfd0d1;
            border-bottom-color: lib.$main-clr ;
            border-radius: 50%;
            content: " ";
            height: 5vw;
            width: 5vw;
            position: absolute;
            // top: 100%;
            left: 50%;
            transform: translate3d(-50%, -50% 0);
            will-change: transform;
        }
    }

}