@use '../_lib' as lib;

.header {
    display: flex;
    background-color: lib.$main-clr;
    min-height: 2.5rem;
    height: lib.$header-height-desktop;
    width: 100vw;
    align-items: center;
    justify-content: center;

    .header__title {
        font-size: 3em;
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}