@use '../../../_lib' as lib;

.pagination {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: center;
    margin-top: 2rem;

    &__btn {

        padding: .3vw .5vw;
        border: 1px solid transparent;
        border-radius: lib.$border-btn-radius ;
        background-color: transparent;
        font-size: medium;
        cursor: pointer;

        &--disabled {
            padding: .3vw .5vw;
            border: 1px solid transparent;
            border-radius: lib.$border-btn-radius ;
            background-color: transparent;
            font-size: medium;
            cursor: pointer;
        }

        &:hover {
            background-color: lib.$paginate-clr;
            color: lib.$paginate-clr-letter;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        gap: .5vw;
        cursor: pointer;

        &__item {
            list-style: none;
            padding: .3vw .5vw;
            transition: .3s;
            font-size: medium;
            border: 1px solid transparent;
            border-radius: 5px;

            &:hover {
                border: 1px solid lib.$paginate-clr;
                background-color: lib.$paginate-clr;
                color: lib.$paginate-clr-letter;
            }

            &--active {
                background-color: lib.$paginate-clr;
                color: lib.$paginate-clr-letter;
            }
        }
    }
}