$header-height-desktop :4.5rem;

$border-btn-radius: 13px;

$paginate-clr: rgb(0, 119, 255);
$paginate-clr-letter: white;

$main-clr: rgb(0, 119, 255);
$secondary-clr: rgba(0, 119, 255, 0.39);
$secondary-clr-font: rgba(0, 119, 255, 0.39);
$third-clr: rgb(0, 119, 255);